<aside class="">

</aside>

<main>
  <div class="grid masonry">
    <div class="sizer"></div>
    <div class="gutter"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
</main>
