@import url(https://fonts.googleapis.com/css?family=Dosis);
.grid {
  max-width: 90rem;
  margin: 0 auto;
  padding: 5%; }

html {
  font-size: 1rem; }

body {
  background-color: white;
  font-family: 'Dosis';
  font-weight: 400;
  line-height: 1.618;
  color: #333; }

* {
  font-weight: 400 !important; }

p {
  margin-bottom: 1.3rem;
  line-height: 1.618;
  font-size: 1rem; }

h1 {
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em;
  margin: 0; }

h4 {
  font-size: 1.25em; }

.small,
.font_small {
  font-size: 0.9em; }

.masonry .item, .masonry .sizer {
  width: 100%; }
  @media (min-width: 475px) {
    .masonry .item, .masonry .sizer {
      width: 49.5%; } }
  @media (min-width: 768px) {
    .masonry .item, .masonry .sizer {
      width: 32.66667%; } }
  @media (min-width: 1024px) {
    .masonry .item, .masonry .sizer {
      width: 24.25%; } }
  @media (min-width: 1200px) {
    .masonry .item, .masonry .sizer {
      width: 19.2%; } }

@media (min-width: 768px) {
  .masonry .big {
    width: 65.33333%; } }

@media (min-width: 1024px) {
  .masonry .big {
    width: 48.5%; } }

@media (min-width: 1200px) {
  .masonry .big {
    width: 38.4%; } }

.masonry .item {
  background: #f5f2ef;
  margin-bottom: 10px; }

.masonry .gutter {
  width: 1%; }

* {
  box-sizing: border-box; }

img {
  width: 100%; }

body {
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  background: url("../images/pattern.png"); }

aside {
  width: 15vw;
  height: 100vh;
  position: fixed;
  background: #f0aa47;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (min-width: 425px) {
    aside {
      width: 12vw; } }
  @media (min-width: 550px) {
    aside {
      width: 10vw; } }
  @media (min-width: 650px) {
    aside {
      width: 8vw; } }
  @media (min-width: 880px) {
    aside {
      width: 7vw; } }
  @media (min-width: 1024px) {
    aside {
      width: 5vw; } }
  aside .bars {
    margin-top: 1rem; }

main {
  float: right;
  width: 85vw;
  background: #f1eadf; }
  main .bar {
    padding: 3px;
    background: rgba(53, 42, 39, 0);
    color: #dad8d8;
    margin-bottom: 0.5rem;
    float: right; }
    main .bar span {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: 1rem;
      cursor: pointer; }
      main .bar span.comment, main .bar span.heart {
        margin-left: 0.9rem; }
      main .bar span.fa {
        margin-left: 3px; }
      main .bar span.heart:hover {
        color: #f91f1f; }
      main .bar span.comment:hover {
        color: #a8a3a3; }
      main .bar span.fa-comment {
        position: relative;
        top: -2px; }
  @media (min-width: 425px) {
    main {
      width: 88vw; } }
  @media (min-width: 550px) {
    main {
      width: 90vw; } }
  @media (min-width: 650px) {
    main {
      width: 92vw; } }
  @media (min-width: 880px) {
    main {
      width: 93vw; } }
  @media (min-width: 1024px) {
    main {
      width: 95vw; } }

.item, img {
  border-radius: 11px 11px 0px 0px;
  background: #f5f2ef; }

.item {
  margin-bottom: 40px; }

.text {
  padding: 3%; }
  .text .title, .text .author {
    color: #443631; }
  .text p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
